### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [418]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
HeroesOfPymoli = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(HeroesOfPymoli)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [419]:
# Running an info command to see how the dataframe looks
purchase_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [420]:
# Running describe command to glean more info

purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [421]:
# Running describe command once again to glean more info
purchase_data_df.describe(include='all')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
count,780.000000,780,780.000000,780,780.000000,780,780.000000
unique,NaN,576,NaN,3,NaN,179,NaN
top,NaN,Lisosia93,NaN,Male,NaN,Final Critic,NaN
freq,NaN,5,NaN,652,NaN,13,NaN
mean,389.500000,NaN,22.714103,NaN,91.755128,NaN,3.050987
std,225.310896,NaN,6.659444,NaN,52.697702,NaN,1.169549
min,0.000000,NaN,7.000000,NaN,0.000000,NaN,1.000000
25%,194.750000,NaN,20.000000,NaN,47.750000,NaN,1.980000
50%,389.500000,NaN,22.000000,NaN,92.000000,NaN,3.150000
75%,584.250000,NaN,25.000000,NaN,138.000000,NaN,4.080000
max,779.000000,NaN,45.000000,NaN,183.000000,NaN,4.990000

In [422]:
# Total number of Players:
Total_Players = purchase_data_df["SN"].nunique()
Total_Players_df = pd.DataFrame({"Total Players":[Total_Players]})
Total_Players_df

   Total Players
0            576

In [423]:
# ALTERNATE METHOD:  Total number of Players:
Total_Players = len(purchase_data_df["SN"].value_counts())
Total_Players_final = pd.DataFrame({"Total Players":[Total_Players]})
Total_Players_final

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [424]:
#Number of Unique Items

unique_items_list = purchase_data_df['Item Name'].nunique()

In [425]:
# Average Price
Average_Price = round(purchase_data_df["Price"].mean(),2)

In [426]:
# Number of purchases
Number_of_Purchases = purchase_data_df['Purchase ID'].count()

In [427]:
# Total_revenue
total_revenue = purchase_data_df["Price"].sum()

In [428]:
purchasing_analysis_total_df = pd.DataFrame({"Number of Unique Items":[unique_items_list],"Average Price":[Average_Price],"Number of Purchases":[Number_of_Purchases],"Total Revenue":[total_revenue]})
purchasing_analysis_total_df['Average Price'] = purchasing_analysis_total_df['Average Price'].map("${:,.2f}".format)
purchasing_analysis_total_df['Total Revenue'] = purchasing_analysis_total_df['Total Revenue'].map("${:,.2f}".format)
purchasing_analysis_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [429]:
gender_demo_df = purchase_data_df[['Purchase ID','SN','Gender']]
gender_demo_df.head()

   Purchase ID             SN Gender
0            0        Lisim78   Male
1            1    Lisovynya38   Male
2            2     Ithergue48   Male
3            3  Chamassasya86   Male
4            4      Iskosia90   Male


## Purchasing Analysis (Gender)

In [430]:
gender_demo_results = gender_demo_df.groupby('Gender')['SN'].agg(['nunique'])
gender_demo_results['Percentage of Players'] = gender_demo_results['nunique']/gender_demo_results['nunique'].sum()
gender_demo_results['Percentage of Players'] = gender_demo_results['Percentage of Players'].map("{:.2%}".format)
gender_demo_results

                       nunique Percentage of Players
Gender
Female                      81                14.06%
Male                       484                84.03%
Other / Non-Disclosed       11                 1.91%

In [431]:
gender_demo_results['Total Count'] = gender_demo_df.groupby('Gender')['SN'].agg(['Total Count'])
gender_demo_results['Percentage of Players'] = gender_demo_results['nunique']/gender_demo_results['nunique'].sum()
# gender_demo_results['Percentage of Players'].style.format("{:.2%}")
gender_demo_results

AttributeError: 'SeriesGroupBy' object has no attribute 'Total Count'

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [432]:
purchasing_analysis_gender_df = purchase_data_df.groupby('Gender')['SN'].agg(['count'])

purchasing_analysis_gender_df

                       count
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [433]:
purchasing_analysis_gender_df = purchase_data_df.groupby('Gender')['Price'].agg(['mean'])

purchasing_analysis_gender_df

                           mean
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [434]:
purchasing_analysis_gender_df = purchase_data_df.groupby('Gender')['Price'].agg(['sum'])

purchasing_analysis_gender_df

                           sum
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [435]:
# # purchasing_analysis_male_df = purchase_data_df.loc[""]
purchasing_analysis_gender_df = purchase_data_df.set_index('Gender')

purchasing_analysis_gender_df = purchasing_analysis_gender_df.groupby(['Gender'])

percent = purchasing_analysis_gender_df["Price"].sum()/purchasing_analysis_gender_df["SN"].nunique()
# purchasing_analysis_df["Purchase ID"].count()
# purchasing_analysis_gender_df["SN"].nunique()
percent
# purchase_data_df.agg(Purchase Count=pd.NamedAgg(column=''.aggfunc='count'))
# purchasing_analysis_gender_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [436]:

purchasing_analysis_gender_df = purchase_data_df.set_index('Gender')

purchasing_analysis_gender_df = purchasing_analysis_gender_df.groupby(['Gender'])

purchasing_analysis_gender_df.agg(Purchase_Count=pd.NamedAgg(column='Purchase ID', aggfunc='count'),
                                  Average_Purchase_Price=pd.NamedAgg(column='Price', aggfunc='mean'),
                                  Total_Purchase_Value=pd.NamedAgg(column='Price', aggfunc='sum'))

# purchasing_analysis_gender_df['Average_Purchase_Price'] = purchasing_analysis_gender_df['Average_Purchase_Price'].map("${?:,.2f}".format)

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [437]:

purchasing_analysis_gender_df = purchase_data_df.groupby(['Gender'])

purchase_count = purchasing_analysis_gender_df['Price'].count()
avg_purchase_price = purchasing_analysis_gender_df['Price'].mean()
total_purchase_value = purchasing_analysis_gender_df['Price'].sum()
avg_total_purchase_perperson = total_purchase_value/purchasing_analysis_gender_df["SN"].nunique()


purchasing_analysis_gender_final_df = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_purchase_price,"Total Purchase Value":total_purchase_value,"Average Total Purchase per Person":avg_total_purchase_perperson})

purchasing_analysis_gender_final_df['Average Purchase Price'] = purchasing_analysis_gender_final_df['Average Purchase Price'].map("${:,.2f}".format)
purchasing_analysis_gender_final_df['Total Purchase Value'] = purchasing_analysis_gender_final_df['Total Purchase Value'].map("${:,.2f}".format)
purchasing_analysis_gender_final_df['Average Total Purchase per Person'] = purchasing_analysis_gender_final_df['Average Total Purchase per Person'].map("${:,.2f}".format)


purchasing_analysis_gender_final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [471]:

purchasing_analysis_gender_df = purchase_data_df.set_index('Gender')

purchasing_analysis_gender_df = purchasing_analysis_gender_df.groupby(['Gender'])

dummy_df = purchasing_analysis_gender_df.agg(Purchase_Count=pd.NamedAgg(column='Purchase ID', aggfunc='count'),
                                  Average_Purchase_Price=pd.NamedAgg(column='Price', aggfunc='mean'),
                                  Total_Purchase_Value=pd.NamedAgg(column='Price', aggfunc='sum'))
dummy_df['ATPPP'] = total_purchase_value/purchasing_analysis_gender_df["SN"].nunique()

dummy_df['Average_Purchase_Price'] = dummy_df['Average_Purchase_Price'].map("${:,.2f}".format)
dummy_df

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value
Gender,,,
Female,113,$3.20,361.94
Male,652,$3.02,1967.64
Other / Non-Disclosed,15,$3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [439]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [440]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
bin_labels = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

In [441]:
purchase_data_df["Age_Bins"] = pd.cut(purchase_data_df["Age"],bins=bins,labels=bin_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [442]:
purchasing_analysis_age_group = purchase_data_df.groupby("Age_Bins")
# purchasing_analysis_age_group = purchasing_analysis_gender_df.groupby(['Age_Bins'])

purchasing_analysis_age_group_count = purchasing_analysis_age_group['SN'].nunique()
purch_analy_age_df = pd.DataFrame(purchasing_analysis_age_group_count)
purch_analy_age_df['Percentage of Players'] = purch_analy_age_df['SN']/purch_analy_age_df['SN'].sum()
purch_analy_age_df['Percentage of Players'] = purch_analy_age_df['Percentage of Players'].map("{:.2%}".format)

purch_analy_age_df

           SN Percentage of Players
Age_Bins
<10        17                 2.95%
10-14      22                 3.82%
15-19     107                18.58%
20-24     258                44.79%
25-29      77                13.37%
30-34      52                 9.03%
35-39      31                 5.38%
40+        12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [443]:
# purchasing_analysis_age_group = purchase_data_df.groupby("Age_Bins")

# PC = purchasing_analysis_age_group['Price'].count()
# APP = purchasing_analysis_age_group['Price'].mean()
# TPV = purchasing_analysis_age_group['Price'].sum()
# # sad Prchase Count / Sigma(Purchase Count")



purch_analy_age_df['Purchase Count'] = purchasing_analysis_age_group['Item ID'].count()
purch_analy_age_df['Average Purchase Price'] = purchasing_analysis_age_group['Price'].mean()
purch_analy_age_df['Total Purchase Value'] = purch_analy_age_df['Purchase Count']*purch_analy_age_df['Average Purchase Price']
# purch_analy_age_df['AvgTotalPurchasePrice'] = purchasing_analysis_age_group['Price']/purch_analy_age_df['Purchase Count']
purch_analy_age_df['Average Total Purchase per Person'] = purchasing_analysis_age_group['Price'].sum()/purchasing_analysis_age_group['SN'].nunique()

purch_analy_age_df['Average Purchase Price'] = purch_analy_age_df['Average Purchase Price'].map("${:,.2f}".format)
purch_analy_age_df['Total Purchase Value'] = purch_analy_age_df['Total Purchase Value'].map("${:,.2f}".format)
purch_analy_age_df['Average Total Purchase per Person'] = purch_analy_age_df['Average Total Purchase per Person'].map("${:,.2f}".format)

purch_analy_age_df[['Purchase Count','Average Purchase Price','Total Purchase Value','Average Total Purchase per Person']]

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age_Bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [465]:

# top_spenders_pre_df = purchase_data_df.groupby("SN")
# # top_spenders_df = pd.DataFrame(top_spenders_pre_df)
# # top_spenders_df['Purchase Count'] = top_spenders_pre_df['Item ID'].count()

# # top_spenders_df.head()
# top_spenders_pre_df.head()

purchasing_analysis_gender_df = purchase_data_df.groupby(['SN'])
# purchasing_analysis_gender_df.set_index['SN']
purchasing_analysis_gender_df
# PC = purchasing_analysis_gender_df['Price'].count()
# APP = purchasing_analysis_gender_df['Price'].mean()
# TPV = purchasing_analysis_gender_df['Price'].sum()

In [486]:
top_spenders_pre_df = purchase_data_df.groupby(['SN'])

purchase_count_tp = top_spenders_pre_df['Price'].count()
average_purchase_price_tp = top_spenders_pre_df['Price'].mean()
total_purchase_value_tp = average_purchase_price_tp*purchase_count_tp

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_tp, "Average Purchase Price": average_purchase_price_tp, "Total Purchase Value": total_purchase_value_tp})

# top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:,.2f}".format)
# top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:,.2f}".format)

top_spenders_df = top_spenders_df.sort_values('Total Purchase Value', ascending=False)

top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [468]:
topspenders_pre = purchase_data_df.groupby("SN")
# topspenders_pre = purchase_data_df.set_index("SN")
topspenders_pre["Purchase Count"] = topspenders_pre['Item ID'].count()
topspenders_pre.head()

TypeError: 'DataFrameGroupBy' object does not support item assignment

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [491]:

most_popular_pre2 = purchase_data_df[['Item ID', 'Item Name', 'Price']]
most_popular_pre1 = purchase_data_df.groupby(['Item ID'],['Item Name'])

# PC = purchasing_analysis_gender_df['Price'].count()
# APP = purchasing_analysis_gender_df['Price'].mean()
# TPV = purchasing_analysis_gender_df['Price'].sum()

# most_popular_df = pd.DataFrame(most_popular_pre1)

# most_popular_df['Purchase Count'] = most_popular_pre1['Item ID'].count()



# purchasing_analysis_age_group_count = purchasing_analysis_age_group['SN'].nunique()
# most_popular["Item Price"] = most_popular_pre["Price"]
most_popular_df

TypeError: unhashable type: 'list'

In [448]:

most_popular_pre2 = purchase_data_df[['Item ID', 'Item Name', 'Price']]
most_popular_pre1 = most_popular_pre2.groupby(['Item ID','Item Name'])
# most_popular_df = pd.DataFrame(most_popular_pre1)

# most_popular_df['Purchase Count'] = most_popular_pre1['Item ID'].count()


most_popular_pre1["Purchase Count"] = most_popular_pre2["Price"].count()
# purchasing_analysis_age_group_count = purchasing_analysis_age_group['SN'].nunique()
# most_popular["Item Price"] = most_popular_pre["Price"]
most_popular_pre1.head()

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame